body {
    font-family: Arial, sans-serif;
    background-color: #9B86BD;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app-container {
    background: #E2BBE9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile, .time {
    margin-bottom: 10px;
}

.profile p, .time p {
    margin: 5px 0;
}

.new-task {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#task-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

#priority {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#submit-task {
    padding: 10px;
    background-color: #7776B3;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.task-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.task-list {
    width: 100%;

}

.task-lists h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #dee2e6;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

.priority {
    margin-left: 10px;
}

.mark-done {
    margin-left: 10px;
}

li.done {
    text-decoration: line-through;
}

li.overdue {
    color: red; 
}

#delete-all {
    padding: 10px;
    background-color: #7776B3;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
    .task-lists {
        flex-direction: column;
    
    }

    .task-list {
        width: 48%;
    }
}